/* @override http://localhost:4000/css/base.css */

html, body {
    max-width: 100%;
    overflow-x: hidden;
    font-family: "Lato";
}

body {
/*	padding-top: 100px;*/
}

h1 {
	margin-bottom: 40px;
}

h2 {
	margin-bottom: 60px;
}

hr {
	margin-top: 30px;
	margin-bottom: 30px;
}

#intro {
  background-color: #03BDFB;
  background-size:cover;
  position:relative;
  height:60vh;
}

#intro-header {
  position:absolute;
  top: 50%;
  text-align:center;
  width:100%;
  color:#fff;
  -ms-transform: translate(0,-50%); /* IE 9 */
    -webkit-transform: translate(0,-50%); /* Safari */
    transform: translate(0,-50%);
}

.wow {
  visibility: hidden;
}

.jumbotron.white {
  background-color: white;
}

.navbar-brand.logo {
	font-family: "Lobster";
	font-size: 32px;
	width: 200px;

}

.brand-mark {
	margin-top: -15px;
	margin-right: 10px;
}

div.post {
  margin-bottom: 150px;
}
#main-panel {
	margin-top: -30px
}

#main-panel.sub {
	margin-top: 80px;
}

#top-bar {
	color:  #fff;
	margin-bottom: 0px;
	background-color: #fff;
	border-bottom: 0px;
	padding-bottom: 0px;
	padding-top: 20px;
}

#top-bar.jumbotron {
	-webkit-box-shadow: 0px 0px 8px 0px rgba(196,196,196,1);
	-moz-box-shadow: 0px 0px 8px 0px rgba(196,196,196,1);
	box-shadow: 0px 0px 12px 0px rgba(196,196,196,1);

}

.jumbotron {
	margin-bottom: 0px;
}

#browser-bar {
  background-color: #03BDFB;
  padding-top: 0px;
  margin-bottom: 0px;
}

#content-bar {
	background-color: #03BDFB;
	z-index: 10;
	color: white;
	padding-bottom: 0px;
}

#more-features.jumbotron {
	background-color: #fff;
}

#content-bar h1 {
	font-weight: normal;
}

#demo-bar {
	color: white;
	background-color: #FF9C34;
}

a#scroll-link.autoscroll {
	color: white;
}

#footer-bar {
	color: #999;
	background-color: #333;
}

a.btn.btn-info {
	width: 100%;
	margin-top: 20px;
}

.browser-window{
	margin:20px;
	margin-bottom: 0px;
	border: 1px solid #eee;
	width:100%;
	height:100%;
	display:inline-block;
	border-radius:5px;
	background-color:#fff}

.function-row {
	margin-bottom: 60px;
}

.feature-row {
	margin-bottom: 40px;
	height: 500px;
}

.device-container {
	margin: 0 auto;
}

.more-features {
	margin-bottom: 60px;
}

.main-feature {
	margin-bottom: 60px;
}

.bottom-border {
	border-bottom: 1px solid #eee;
}

.logo {
  font-family: 'Shadows Into Light', sans-serif;
  color: black;
  padding: 0px;
  font-size: 300%;
  font-weight: bold;
  margin-top: 8px;
  padding-left: 0px;
  padding-right: 60px;
}

ol.carousel-indicators {
	margin-bottom: -50px;
}

.middle > img {
	margin: 0 auto;
}

.ios-device {
	margin: 0 auto;
}

.social-icon-bar {
  margin-top: 15px;
  margin-bottom: 15px;
}

.social-icon {
  width: 40px;
  height: 40px;
}

/*** MEDIA QUERIES ***/

@media(max-width:767px){

  .thelogo {
    width: 60px;
  }

	.more-features {
		margin-bottom: 25px;
	}

  .intro-h1 {
    font-size: 18px;
  }

	.jumbotron h1 {
		margin-bottom: 20px;
		font-size: 30px;
	}

  .intro-h3 {
    font-size: 16px;
  }

	.jumbotron h2 {
		margin-bottom: 40px;
		font-size: 18px;
	}
	.jumbotron h3 {
		margin-top: 0px;
		font-size: 14px
	}
	.jumbotron h4{

	}
	.jumbotron p {
		font-size: 14px;
		margin-bottom: 10px;
	}

	.device-container {
		padding-left: 0%;
	}

  #static-browser.browser-window {
  	width: 700px;
  }

}

@media(min-width:768px){

  .thelogo {
    width: 60px;
  }

	.jumbotron h1 {
		margin-bottom: 20px;
		font-size: 40px;
	}
	.jumbotron h2 {
		margin-bottom: 40px;
		font-size: 23px;
	}
	.jumbotron h3 {
		font-size: 17px
	}
	.jumbotron h4{

	}
	.jumbotron p {
		font-size: 14px;
		margin-bottom: 10px;
	}

	.middle {
	  height: 200px;
	  display: flex;
	  justify-content: center;
	  flex-direction: column;
	}
	.row.feature-row {
    	min-height: 200px;
	}
	.phone-6--large {
		width: 201px;
		height: 414px;
	}
	.device-container {
		padding-left: 0%;

		margin: 0 auto;
		text-align: center;
	}
}

@media(min-width:992px){

  .thelogo {
    width: 80px;
  }

	.middle {
	  height: 300px;
	  display: flex;
	  justify-content: center;
	  flex-direction: column;
	}
	.row.feature-row {
    	min-height: 300px;
	}
	.phone-6--large {
		width: 268px;
		height: 552px;
	}

  #static-browser.browser-window {
  	width: 850px;
  }


}

@media(min-width:1200px){

  .thelogo {
    width: 120px;
  }

  .jumbotron h1 {
		margin-bottom: 20px;
		font-size: 60px;
	}
	.jumbotron h2 {
		margin-bottom: 50px;
		font-size: 30px;
	}
	.jumbotron h3 {
		font-size: 24px
	}
	.jumbotron h4{

	}
	.jumbotron p {
		font-size: 18px;
		margin-bottom: 10px;
	}


	.middle {
	  height: 400px;
	  display: flex;
	  justify-content: center;
	  flex-direction: column;
	}

	.row.feature-row {
    	min-height: 400px;
	}
	.phone-6--large {
		width: 268px;
		height: 552px;
	}

  #static-browser.browser-window {
    width: 1100px;
  }

}
