/* @override http://localhost:4000/css/base.css */

html, body {
    max-width: 100%;
    overflow-x: hidden;
    font-family: "Lato";
}

body {
	padding-top: 100px;
}

h1 {
	margin-bottom: 40px;
}

h2 {
	margin-bottom: 60px;
}

.navbar-brand.logo {
	font-family: "Lobster";
	font-size: 32px;
	width: 300px;
	
}

.brand-mark {
	margin-top: -15px;
	margin-right: 10px;
}



#top-bar {
	color:  #fff;
	margin-bottom: 0px;
	background-color: #fff;
	border-bottom: 0px;
	padding-bottom: 0px;
}

#top-bar.jumbotron {
	padding-top: 25px;
	
	-webkit-box-shadow: 0px 0px 8px 0px rgba(196,196,196,1);
	-moz-box-shadow: 0px 0px 8px 0px rgba(196,196,196,1);
	box-shadow: 0px 0px 12px 0px rgba(196,196,196,1);

}

#browser-bar {
  background-color: #fff;
  padding-top: 0px;
  margin-bottom: 0px;
}

#content-bar {
	background-color: #03BDFB;
	z-index: 10;
	color: white;
	padding-bottom: 0px;
}

#content-bar h1 {
	font-weight: normal;
}

.browser-window{
	margin:20px;
	margin-bottom: 0px;
	border: 1px solid #eee;
	width:80%;
	height:100%;
	display:inline-block;
	border-radius:5px;
	background-color:#fff}

.function-row {
	margin-bottom: 60px;
}

.more-features {
	margin-bottom: 60px;
}

.main-feature {
	margin-bottom: 60px;
}

.bottom-border {
	border-bottom: 1px solid #eee;
}

.logo {
  font-family: 'Shadows Into Light', sans-serif;
  color: black;
  padding: 0px;
  font-size: 300%;
  font-weight: bold;
  margin-top: 8px;
  padding-left: 30px;
  padding-right: 60px;
}

ol.carousel-indicators {
	margin-bottom: -50px;
}

#static-browser.browser-window {
	width: 700px;
}
