
h1 {
	margin-bottom: 40px;
}

h2 {
	margin-bottom: 60px;
}

#top-bar {
	margin-bottom: 0px;
	background-color: white;
}

#top-bar.jumbotron {
	padding-top: 25px;
}

#browser-bar {
  background-color: white;
}

#content-bar {
	background-color: #00435a;
	z-index: 10;
	color: white;
}

.more-features {
	margin-bottom: 20px;
}

.logo {
  font-family: 'Shadows Into Light', sans-serif;
  padding: 0px;
  font-size: 400%;
  font-weight: bold;
  margin-top: -30px;
}