---
layout: page
title: Open Source Community Support Software
permalink: /features/community/
---

<div id="main-panel" class="jumbotron sub">
  <div class="container">
    <div class="row text-center">
      <h1>Empower your customers to assist each other</h1>
    </div>

    <div class="row">

        <div class="col-md-6 col-sm-6 col-lg-4">
          <div id="devices">
            <div id="device" class="ipad black">
              <div id="devicetop" class="iphone-speaker">
              </div>
              <div id="screen" class="iphone-screen">
                <img src="/images/mobile/community.png" width="100%">
              </div>
              <div id="button">
              </div></a>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-sm-6 col-lg-8">
          <h2>Helpy community discussions work just like support tickets, but any customer can answer, and interactions take place through the web.</h2>

          <h3>An always expanding database of real customer solutions</h3>
          <p>Your community forum is a place where customers can interact with each other, to share solutions, tips and advice.</p>
          <h3>Offload support responsibility to your best customer advocates</h3>
          <p>Save money on support costs by sharing the burden with your strongest advocates- current customers!</p>
          <h3>Keep control and provide assistance when needed</h3>
          <p>You don't have to worry about things getting out of control, you still have complete control over the community discussions</p>

        </div>

    </div> <!-- row -->
  </div> <!-- container -->
</div> <!-- jumbo -->

{% include demo.html %}
{% include features.html %}
{% include getit.html %}
