---
layout: page
title: Create a world class customer support experience
permalink: /customers/
---

<div id="content-bar" class="jumbotron">
  <div class="container">


    <div class="row text-center">
      <h1>Delight your customers with a world class support experience</h1>
    </div>

    <div class="row text-center">
      <div class="col-md-6">
        <div class="browser-window hidden-sm hidden-xs">
          <div class="top-bar">
            <div class="circles text-left">
               <div class="circle circle-red"></div>
               <div class="circle circle-yellow"></div>
               <div class="circle circle-green"></div>
            </div>
          </div>
          <div class="content">
            <img src="/images/home-full.png" width="100%">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <h4>The 3 fastest ways for your customers to get help:</h4>
        <p>Helpy comes with a full featured customer support site, integrated with support ticketing, helpdesk and support communities.
          Customers that can find help on their own have a better customer experience than those that call or email support. The knowledgebase is optimized to give your customers three primary channels to get help:</p>
        <ol>
          <li>Search: Customers are strongly encouraged to search for their solution.  This increases their speed to resolution, and gives you valuable feedback on the most common issues your customers experience.</li>
          <li>Browse:</li>
          <li>Most Frequent Issues:</li>
        </ol>
      </div>
    </div> <!-- row -->
  </div> <!-- container -->
</div> <!-- jumbo -->
<div id="more-features" class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h2>A knowledgebase helps your customers find answers themselves, saving you money each time</h2>
    </div>
  </div>


  <div class="row feature-row">
    <div class="col-md-6">
      <h4>A simple tool to build, mantain and improve your knowledgbase</h4>
      <p>A modern wysiwyg editor (Quill.js) is your gateway to creating amazing articles to delight your users.  Write your articles in draft mode, and when you are ready to go live, simply flip the switch to publish them.<p>
      <p>New articles and documents are automatically added to the full text search engine, and submitted to Google for indexing.</p>
      <p>Don't worry about making a mistake, every version of each article is archived and can be recovered with a mouse click.</p>
    </div>
    <div class="col-md-6">
      <img src="/images/content-edit-medium.png" width="100%">
    </div>
  </div>

  <div class="row feature-row">
    <div class="col-md-6">
      <img src="/images/search-results-mobile.png">
    </div>
    <div class="col-md-6">
      <h4>Full text search that will help your customers get answers faster!</h4>
      <p>Customers that search have the best chance of answering their own question, and provide you with valuable feedback on what their "real" questions are.</p>
      <p>Helpy full text search is powered by Postgres, although you are welcome to use your own backend.</p>
    </div>
  </div>

  <div class="row feature-row">
    <div class="col-md-6">
      <h4>Created with SEO in mind</h4>
      <p>We know many of your customers will start their search for help on Google.  If your support information does not appear in the results, you are fielding customer inquiries you don't need to.</p>
      <p>Your Helpy knowledgebase comes ready for Google, with an emphasis on clean, fast loading code and mobile friendly design. Supply your own keywords, title tags and meta descriptions, and let
        our internal linking structure help your pages rise to the top of the search results.</p>
    </div>
    <div class="col-md-6">
      [image]
    </div>
  </div>

  <div class="row feature-row">

    <div class="col-md-6">
      [image]
    </div>
    <div class="col-md-6">
      <h4>Manage and see reports on everything via Google Analytics, even in "Real time."</h4>
      <p>Rather than rely on an internal reporting system, Helpy is full integrated with Google Analytics. Track and view reports on how many tickets are coming in,
        what the productivity of your agents is, and more.  Download or contribute custom dashboards via the GA exchange on our support site.</p>
    </div>

  </div>
</div>
{% include demo.html %}

{% include features.html %}
