---
layout: default
---

    <div id="browser-bar" class="jumbotron">
      <div class="container">
        <div class="row">
          <div class="col-lg-1"></div>
          <div id="main-panel" class="col-md-12 col-lg-10 text-center">
            <h1>Open source help desk software that will delight your customers, and your wallet</h1>

            <div id="browser-slides" class="browser-window">
              <div class="top-bar">
                <div class="circles text-left">
                   <div class="circle circle-red"></div>
                   <div class="circle circle-yellow"></div>
                   <div class="circle circle-green"></div>
                </div>
              </div>
              <div class="content">
                <img src="images/helpy-4.png" style="max-width:100%;height:auto;">
              </div>
            </div> <!-- end browser slides -->

            <!--<div id="static-browser" class="browser-window hidden-md hidden-lg">
              <div class="top-bar">
                <div class="circles text-left">
                   <div class="circle circle-red"></div>
                   <div class="circle circle-yellow"></div>
                   <div class="circle circle-green"></div>
                </div>
              </div>
              <div class="content text-left">
                <img src="images/helpy-4.png" style="max-width:100%;height:auto;">
              </div>
            </div><!-- end static browser -->

          </div> <!-- end main-panel -->
          <div class="col-lg-1"></div>
        </div>
      </div>
    </div>
    <div class="solution"></div>
    <div id="content-bar" class="jumbotron solution">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h2>Introducing Helpy.<br/> A modern, open-source Helpdesk alternative.</h2>
          </div>
        </div>

        <div class="row function-row">
          <div class="main-feature col-md-6 col-sm-3 hidden-xs text-right">
            <div><img src="images/tickets.png" class="img-circle"></div>
          </div>
          <div class="col-md-6 col-sm-9">
            <h3><a href="/tickets">Ticketing</a></h3>
            <p>Helpy features a complete ticketing system, fully integrated with customer support email. <a href="/tickets">See ticketing</a></p>
          </div>
        </div>

        <div class="row function-row">
          <div class="col-md-6 col-sm-9 text-right">
            <h3><a href="/knowledgebase">Knowledgebase</a></h3>
            <p>Easily create a searchable knowledgebase to cut down on support tickets. <a href="/knowledgebase">Learn about the Knowledgebase</a></p>
          </div>
          <div class="main-feature col-md-6 col-sm-3 hidden-xs">
            <img src="images/knowledgebase.png" class="img-circle">
          </div>

        </div>

        <div class="row function-row">
          <div class="main-feature col-md-6 col-sm-3 hidden-xs text-right">
            <img src="images/discussion.png" class="img-circle">
          </div>
          <div class="col-md-6 col-sm-9">
            <h3><a href="/community">Community</a></h3>
            <p>Your customers can post their questions into the community as well, getting answers and tips from other users! <a href="/community">Community features</a></p>
          </div>
        </div
        >
      </div>
    </div>

    {% include features.html %}
    {% include getit.html %}
