---
layout: home
---


    <div id="intro" class="full-screen" style="min-height: 300px;">
        <div id="intro-header">
          <img src="/images/logo.png" class="thelogo">
          <h1 class="intro-h1">Introducing Helpy- A modern, <br/>open-source Helpdesk alternative.</h1>
          <h3 class="intro-h3 hidden-xs">Includes "Mobile First" Support Ticketing,<br/> Knowledgebase and Community Support</h3>

          <h2 class="animated bounceInDown"><a id="scroll-link" href="#demo" class="autoscroll" data-target="#demo-bar"><span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></a></h2>

        </div>
    </div>

    <div id="browser-bar" class="jumbotron">
      <div class="container">
        <div class="row">

          <div id="main-panel" class="col-md-12 col-lg-12 text-center animated slideInUp">
            <div id="static-browser" class="browser-window">
              <div class="top-bar">
                <div class="circles text-left">
                   <div class="circle circle-red"></div>
                   <div class="circle circle-yellow"></div>
                   <div class="circle circle-green"></div>
                </div>
              </div>
              <div class="content text-left">
                <img src="images/main.png" style="max-width:100%;height:auto;">
              </div>
            </div><!-- end static browser -->
          </div>

        </div> <!-- row -->
      </div> <!-- container -->
    </div> <!-- jumbo -->

    {% include demo.html %}

    <div id="ticket-panel" class="jumbotron">
      <div class="container">
        <div class="row text-center">
          <h1></h1>
        </div>
        <div class="row">

          <div class="col-md-6 col-sm-6 col-xs-6 col-lg-8 wow fadeIn" data-wow-duration=".5s" data-wow-delay=".2s">
            <h2>All your customer communications in one place, accessible from anywhere.</h2>

            <h3>Manage the complete support lifecycle, from request to resolution</h3>
            <p>Helpy support discussions can be assigned to members of your team, and tracked by status throughout their life.</p>
            <h3>Helpy "gets" email, literally.</h3>
            <p>Helpy connects to your incoming support email addresses, and gives you and your team an organized tool for managing all of your customer communications in one place.</p>
            <h3>Google Analytics is "Baked In"</h3>
            <p>Rather than rely on an internal reporting system, Helpy is full integrated with Google Analytics. Track and view reports on how many tickets are coming in,
              as well as the productivity of your agents.</p>

          </div>

          <div class="col-md-6 col-sm-6 col-xs-6 col-lg-4 wow slideInRight" data-wow-duration="0" data-wow-delay="0">
            <div id="devices">
            	<div id="device" class="iphone black">
            		<div id="devicetop" class="iphone-speaker">
            		</div>
            		<div id="screen" class="iphone-screen">
                  <img src="/images/mobile/admin-tickets-assign.png" height="100%">
            		</div>
            		<div id="button">
            		</div></a>
            	</div>
            </div>
          </div>

        </div> <!-- row -->
      </div> <!-- container -->
    </div> <!-- jumbo -->

    <div id="community-panel" class="jumbotron white">
      <div class="container">
        <div class="row text-center">
          <h1></h1>
        </div>

        <div class="row">

            <div class="col-md-6 col-sm-6 col-xs-6 col-lg-8 wow fadeIn" data-wow-duration=".5s" data-wow-delay=".2s">
              <h2>Empower your customers to assist each other.</h2>

              <h3>An always expanding database of real customer solutions</h3>
              <p>Your community forum is a place where customers can interact with each other, to share solutions, tips and advice.</p>
              <h3>Offload support responsibility to your best customer advocates</h3>
              <p>Save money on support costs by sharing the burden with your strongest advocates- current customers!</p>
              <h3>Keep control and provide assistance when needed</h3>
              <p>You don't have to worry about things getting out of control, you still have complete control over the community discussions</p>

              <a class="btn btn-info demo-link" href="http://demo.helpy.io/?source=community-panel" target="_blank" role="button">Try It Out</a>

            </div>

            <div class="col-md-6 col-sm-6 col-xs-6 col-lg-4 wow slideInRight" data-wow-duration="0" data-wow-delay="0">
              <div id="devices">
                <div id="device" class="ipad black">
                  <div id="devicetop" class="iphone-speaker">
                  </div>
                  <div id="screen" class="iphone-screen">
                    <img src="/images/mobile/community.png" width="100%">
                  </div>
                  <div id="button">
                  </div></a>
                </div>
              </div>
            </div>

        </div> <!-- row -->
      </div> <!-- container -->
    </div> <!-- jumbo -->

    <div id="kb-panel" class="jumbotron">
      <div class="container">
        <div class="row text-center">
          <h1></h1>
        </div>
        <div class="row">



            <div class="col-md-6 col-sm-6 col-xs-6 col-lg-8 wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">
              <h2>Meet your new 24-7-365 support agent.</h2>

              <h3>Simple, powerful tools to build a great knowledgebase</h3>
              <p>A modern wysiwyg editor (Trix.js) is your gateway to creating amazing articles to delight your users.</p>
              <h3>Built in feedback tools keep score</h3>
              <p>Your customers are searching for answers, and your support site should be able to answer them.  With built in Google Analytics integration and feedback tools, you'll know if your content works.</p>
              <h3>Ready for Google SEO</h3>
              <p>Your Helpy knowledgebase comes ready for SEO, with an emphasis on clean, fast loading code and mobile friendly design.</p>

              <a class="btn btn-info demo-link" href="http://demo.helpy.io/?source=kb-panel" target="_blank" role="button">Check it Out!</a>


            </div>

            <div class="col-md-6 col-sm-6 col-xs-6 col-lg-4 wow slideInRight" data-wow-duration="0" data-wow-delay="0">
              <div id="devices">
                <div id="device" class="ipad gold">
                  <div id="devicetop" class="iphone-speaker">
                  </div>
                  <div id="screen" class="iphone-screen">
                    <img src="/images/mobile/knowledgebase-article.png" width="100%">
                  </div>
                  <div id="button">
                  </div></a>
                </div>
              </div>
            </div>

        </div> <!-- row -->
      </div> <!-- container -->
    </div> <!-- jumbo -->

    {% include features.html %}
    {% include getit.html %}
