---
layout: home
---
    <div id="intro" class="animated fadeIn full-screen" style="min-height: 600px;">
        <div id="intro-header">
          <img src="/images/logo.png" class="thelogo">
          <h1 class="intro-h1">Introducing Helpy- A modern, <br/>open-source Helpdesk alternative.</h1>
          <img src="images/main.png" style="max-width:40%;height:auto;">
          <h3 class="intro-h3">Helpy Includes Support Ticketing,<br/> a Knowledgebase and Community Support</h3>
        </div>
    </div>

<!--    <div id="browser-bar" class="jumbotron">
      <div class="container">
        <div class="row">
          <div class="col-lg-1"></div>
          <div id="main-panel" class="col-md-12 col-lg-10 text-center">
            <h1></h1>

            <div id="browser-slides" class="browser-window">
              <div class="top-bar">
                <div class="circles text-left">
                   <div class="circle circle-red"></div>
                   <div class="circle circle-yellow"></div>
                   <div class="circle circle-green"></div>
                </div>
              </div>
              <div class="content">
                <img src="images/main.png" style="max-width:100%;height:auto;">
              </div>
            </div> <!-- end browser slides -->

            <!--<div id="static-browser" class="browser-window hidden-md hidden-lg">
              <div class="top-bar">
                <div class="circles text-left">
                   <div class="circle circle-red"></div>
                   <div class="circle circle-yellow"></div>
                   <div class="circle circle-green"></div>
                </div>
              </div>
              <div class="content text-left">
                <img src="images/helpy-4.png" style="max-width:100%;height:auto;">
              </div>
            </div><!-- end static browser -->

<!--          </div> <!-- end main-panel -->
<!--          <div class="col-lg-1"></div>
        </div>
      </div>
    </div> -->
<!--    <div class="solution"></div>
    <div id="content-bar" class="jumbotron solution">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h2>Introducing Helpy.<br/> A modern, open-source Helpdesk alternative.</h2>
          </div>
        </div>

        <div class="row function-row">
          <div class="main-feature col-md-6 col-sm-3 hidden-xs text-right">
            <div><img src="images/tickets.png" class="img-circle"></div>
          </div>
          <div class="col-md-6 col-sm-9">
            <h3><a href="/tickets">Ticketing</a></h3>
            <p>Helpy features a complete ticketing system, fully integrated with customer support email. <a href="/tickets">See ticketing</a></p>
          </div>
        </div>

        <div class="row function-row">
          <div class="col-md-6 col-sm-9 text-right">
            <h3><a href="/knowledgebase">Knowledgebase</a></h3>
            <p>Easily create a searchable knowledgebase to cut down on support tickets. <a href="/knowledgebase">Learn about the Knowledgebase</a></p>
          </div>
          <div class="main-feature col-md-6 col-sm-3 hidden-xs">
            <img src="images/knowledgebase.png" class="img-circle">
          </div>

        </div>

        <div class="row function-row">
          <div class="main-feature col-md-6 col-sm-3 hidden-xs text-right">
            <img src="images/discussion.png" class="img-circle">
          </div>
          <div class="col-md-6 col-sm-9">
            <h3><a href="/community">Community</a></h3>
            <p>Your customers can post their questions into the community as well, getting answers and tips from other users! <a href="/community">Community features</a></p>
          </div>
        </div>

      </div>
    </div> -->
    {% include demo.html %}


    <div id="ticket-panel" class="jumbotron">
      <div class="container">
        <div class="row text-center">
          <h1></h1>
        </div>
        <div class="row">

          <div class="col-md-6 col-sm-6 col-xs-6 col-lg-4 wow slideInLeft" data-wow-duration="1s" data-wow-delay="1s">
            <div id="devices">
            	<div id="device" class="iphone black">
            		<div id="devicetop" class="iphone-speaker">
            		</div>
            		<div id="screen" class="iphone-screen">
                  <img src="/images/mobile/admin-tickets-assign.png" height="100%">
            		</div>
            		<div id="button">
            		</div></a>
            	</div>
            </div>
          </div>

          <div class="col-md-6 col-sm-6 col-xs-6 col-lg-8 wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">
            <h2>All your customer communications in one place, accessible from anywhere.</h2>

            <h3>Manage the complete support lifecycle, from request to resolution</h3>
            <p>Helpy support discussions can be assigned to members of your team, and tracked by status throughout their life.</p>
            <h3>Helpy "gets" email, literally.</h3>
            <p>Helpy connects to your incoming support email addresses, and gives you and your team an organized tool for managing all of your customer communications in one place.</p>
            <h3>Google Analytics is "Baked In"</h3>
            <p>Rather than rely on an internal reporting system, Helpy is full integrated with Google Analytics. Track and view reports on how many tickets are coming in,
              as well as the productivity of your agents.</p>

          </div>

        </div> <!-- row -->
      </div> <!-- container -->
    </div> <!-- jumbo -->

    <div id="community-panel" class="jumbotron white">
      <div class="container">
        <div class="row text-center">
          <h1></h1>
        </div>

        <div class="row">

            <div class="col-md-6 col-sm-6 col-xs-6 col-lg-8 wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">
              <h2>Empower your customers to assist each other.</h2>

              <h3>An always expanding database of real customer solutions</h3>
              <p>Your community forum is a place where customers can interact with each other, to share solutions, tips and advice.</p>
              <h3>Offload support responsibility to your best customer advocates</h3>
              <p>Save money on support costs by sharing the burden with your strongest advocates- current customers!</p>
              <h3>Keep control and provide assistance when needed</h3>
              <p>You don't have to worry about things getting out of control, you still have complete control over the community discussions</p>

            </div>

            <div class="col-md-6 col-sm-6 col-xs-6 col-lg-4 wow slideInRight" data-wow-duration="1s" data-wow-delay="1s">
              <div id="devices">
                <div id="device" class="ipad black">
                  <div id="devicetop" class="iphone-speaker">
                  </div>
                  <div id="screen" class="iphone-screen">
                    <img src="/images/mobile/community.png" width="100%">
                  </div>
                  <div id="button">
                  </div></a>
                </div>
              </div>
            </div>

        </div> <!-- row -->
      </div> <!-- container -->
    </div> <!-- jumbo -->

    <div id="kb-panel" class="jumbotron">
      <div class="container">
        <div class="row text-center">
          <h1></h1>
        </div>
        <div class="row">

            <div class="col-md-6 col-sm-6 col-xs-6 col-lg-4 wow slideInLeft" data-wow-duration="1s" data-wow-delay="1s">
              <div id="devices">
                <div id="device" class="ipad gold">
                  <div id="devicetop" class="iphone-speaker">
                  </div>
                  <div id="screen" class="iphone-screen">
                    <img src="/images/mobile/knowledgebase-article.png" width="100%">
                  </div>
                  <div id="button">
                  </div></a>
                </div>
              </div>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-6 col-lg-8 wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">
              <h2>Meet your new 24-7-365 support agent.</h2>

              <h3>Simple, powerful tools to build a great knowledgebase</h3>
              <p>A modern wysiwyg editor (Quill.js) is your gateway to creating amazing articles to delight your users.</p>
              <h3>Built in feedback tools keep score</h3>
              <p>Your customers are searching for answers, and your support site should be able to answer them.  With built in Google Analytics integration and feedback tools, you'll know if your content works.</p>
              <h3>Ready for Google SEO</h3>
              <p>Your Helpy knowledgebase comes ready for SEO, with an emphasis on clean, fast loading code and mobile friendly design.</p>

            </div>

        </div> <!-- row -->
      </div> <!-- container -->
    </div> <!-- jumbo -->

    {% include features.html %}
    {% include getit.html %}
