---
layout: page
title: Open Source Knowledgebase Software
permalink: /features/knowledgebase/
---

<div id="main-panel" class="jumbotron sub">
  <div class="container">
    <div class="row text-center">
      <h1>Meet your new 24-7-365 support agent</h1>
    </div>
    <div class="row">

        <div class="col-md-6 col-sm-6 col-lg-4">
          <div id="devices">
            <div id="device" class="ipad gold">
              <div id="devicetop" class="iphone-speaker">
              </div>
              <div id="screen" class="iphone-screen">
                <img src="/images/mobile/knowledgebase-article.png" width="100%">
              </div>
              <div id="button">
              </div></a>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-sm-6 col-lg-8">
          <h2>A knowledgebase helps your customers find answers themselves, saving you money each time</h2>

          <h3>Simple, powerful tools to build a great knowledgebase</h3>
          <p>A modern wysiwyg editor (Quill.js) is your gateway to creating amazing articles to delight your users.</p>
          <h3>Built in feedback tools keep score</h3>
          <p>Your customers are searching for answers, and your support site should be able to answer them.  With built in Google Analytics integration and feedback tools, you'll know if your content works.</p>
          <h3>Ready for Google SEO</h3>
          <p>Your Helpy knowledgebase comes ready for SEO, with an emphasis on clean, fast loading code and mobile friendly design.</p>

        </div>

    </div> <!-- row -->
  </div> <!-- container -->
</div> <!-- jumbo -->

{% include demo.html %}

<div id="more-features" class="container">
  <div class="row">
    <div class="col-md-12 text-center">
    </div>
  </div>

  <div class="wow fadeIn row feature-row">
    <div class="col-md-6">
      <img src="/images/search.png" width="100%">
    </div>
    <div class="col-md-6">
      <h4>The 3 fastest ways for your customers to find answers</h4>
      <p>Customers that can find help on their own have a better customer experience than those that call or email support. The knowledgebase is optimized to give your customers three primary channels to get help:</p>
      <ol>
        <li>Search: Customers are strongly encouraged to search for their solution.  This increases their speed to resolution, and gives you valuable feedback on the most common issues your customers experience.</li>
        <li>Browse:</li>
        <li>Most Frequent Issues:</li>
      </ol>

    </div>
  </div>


  <div class="wow row feature-row">
    <div class="col-md-6">
      <h4>A simple tool to build, mantain and improve your knowledgbase</h4>
      <p>A modern wysiwyg editor (Quill.js) is your gateway to creating amazing articles to delight your users.  Write your articles in draft mode, and when you are ready to go live, simply flip the switch to publish them.<p>
      <p>New articles and documents are automatically added to the full text search engine, and submitted to Google for indexing.</p>
      <p>Don't worry about making a mistake, every version of each article is archived and can be recovered with a mouse click.</p>
    </div>
    <div class="col-md-6">
      <img src="/images/content-edit-medium.png" width="100%">
    </div>
  </div>

  <div class="wow row feature-row">
    <div class="col-md-6">
      <img src="/images/search-results-mobile.png">
    </div>
    <div class="col-md-6">
      <h4>Full text search that will help your customers get answers faster!</h4>
      <p>Customers that search have the best chance of answering their own question, and provide you with valuable feedback on what their "real" questions are.</p>
      <p>Helpy full text search is powered by Postgres, although you are welcome to use your own backend.</p>
    </div>
  </div>

  <div class="row feature-row">
    <div class="col-md-6">
      <h4>Created with SEO in mind</h4>
      <p>We know many of your customers will start their search for help on Google.  If your support information does not appear in the results, you are fielding customer inquiries you don't need to.</p>
      <p>Your Helpy knowledgebase comes ready for Google, with an emphasis on clean, fast loading code and mobile friendly design. Supply your own keywords, title tags and meta descriptions, and let
        our internal linking structure help your pages rise to the top of the search results.</p>
    </div>
    <div class="col-md-6">
      [image]
    </div>
  </div>

  <div class="row feature-row">

    <div class="col-md-6">
      [image]
    </div>
    <div class="col-md-6">
      <h4>Manage and see reports on everything via Google Analytics, even in "Real time."</h4>
      <p>Rather than rely on an internal reporting system, Helpy is full integrated with Google Analytics. Track and view reports on how many tickets are coming in,
        what the productivity of your agents is, and more.  Download or contribute custom dashboards via the GA exchange on our support site.</p>
    </div>

  </div>
</div>

{% include features.html %}
