---
layout: page
title: Open Source Multilingual Knowledgebase Software
permalink: /features/knowledgebase/
---

<div id="main-panel" class="jumbotron sub">
  <div class="container">
    <div class="row text-center">
      <h1>Meet your new 24-7-365 support agent</h1>
    </div>
    <div class="row">

        <div class="col-md-6 col-sm-6 col-lg-4">
          <div id="devices">
            <div id="device" class="ipad gold">
              <div id="devicetop" class="iphone-speaker">
              </div>
              <div id="screen" class="iphone-screen">
                <img src="/images/mobile/knowledgebase-article.png" width="100%">
              </div>
              <div id="button">
              </div></a>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-sm-6 col-lg-8">
          <h2>A knowledge base helps your customers find answers themselves, saving you money each time</h2>

          <h3>Multilingual for multilanguage support</h3>
          <p>Support customers in multiple countries by delivering a translated and customized support experience in each unique locale.</p>
          <h3>Simple, powerful tools to build a great knowledgebase</h3>
          <p>A modern wysiwyg editor (Trix.js) is your gateway to creating amazing articles to delight your users.</p>
          <h3>Built in feedback tools keep score</h3>
          <p>With built in Google Analytics integration and feedback tools, Helpy will help you understand the holes in your knowledgebase content.</p>
          <h3>Ready for Google SEO</h3>
          <p>Your Helpy knowledgebase comes ready for SEO, with an emphasis on clean, fast loading code and mobile friendly design.</p>

        </div>

    </div> <!-- row -->
  </div> <!-- container -->
</div> <!-- jumbo -->

{% include demo.html %}

<div id="more-features" class="jumbotron">
  <div class="container">

    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="browser-window hidden-xs">
          <div class="top-bar">
            <div class="circles text-left">
               <div class="circle circle-red"></div>
               <div class="circle circle-yellow"></div>
               <div class="circle circle-green"></div>
            </div>
          </div>
          <div class="content">
            <img src="/images/knowledgebase-i18n.png" width="100%">
          </div>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
    
    <div class="row">
      <div class="col-md-12 text-center">
        <h2>Powerful Knowledgebase Features</h2>
      </div>
    </div>

    <div class="wow fadeIn row">
      <div class="col-md-6 feature-focus">
        <h3>Multilingual Support</h3>
        <p>Got customers in multiple countries?  Helpy has you covered.  Multilingual support means your knowledgebase can be available and translated in all the countries where your customers are.</p>
        <p>A modern editing interface greets you and makes it easy to write localized versions of your support articles</p>
        <ul>
          <li>Locale Selector</li>
          <li>Detects Locale from Browser</li>
          <li>Help site interface is translated</li>
          <li>Translation Interface in Admin</li>
        </ul>
      </div>
      <div class="col-md-6 feature-focus">
        <h3>Full Text Search</h3>
        <p>The powerful search engine in Helpy helps connect your users to answers to their problems quickly and efficiently, dramatically reducing the number of customer inquiries.<p>
        <p>New articles and documents are automatically added to the full text search engine, and submitted to Google for indexing.</p>
        <ul>
          <li>Real time indexing</li>
          <li>Search KB and Community Posts</li>
          <li>Search results include snippet</li>
        </ul>
      </div>
       <div class="col-md-6 feature-focus">
        <h3>Simple, clean knowledgebase editing</h3>
        <p>A modern wysiwyg editor (Trix.js) is your gateway to creating amazing articles to delight your users.  Write your articles in draft mode, and when you are ready to go live, simply flip the switch to publish them.<p>
        <p>New articles and documents are automatically added to the full text search engine, and submitted to Google for indexing.</p>
        <ul>
          <li>Generates exceptionally clean code</li>
          <li>Includes basic formatting</li>
          <li>Image upload and linking functions included</li>
        </ul>
      </div>
      <div class="col-md-6 feature-focus">
        <h3>Created with SEO in mind</h3>
        <p>We know many of your customers will start their search for help on Google.  If your support information does not appear in the results, you are fielding customer inquiries you don't need to.</p>
        <p>Your Helpy knowledgebase comes ready for Google, with an emphasis on clean, fast loading code and mobile friendly design. </p>
        <ul>
          <li>Set keywords, meta-description and alternate title tag</li>
          <li>Clean code</li>
          <li>Title used in URL</li>
          <li>Link text includes keywords</li>
        </ul>
      </div>
    </div>
  </div>
</div>

{% include getit.html %}
{% include features.html %}
