---
layout: page
title: Complete helpdesk system to empower your team to deliver great experiences
permalink: /team/
---


<div id="content-bar" class="jumbotron">
  <div class="container">
    <div class="row text-center">
      <h1>Empower your team to deliver amazing customer support, anywhere!</h1>
    </div>
    <div class="row">

      <div class="col-md-4 col-sm-4">
        <h3>Manage the complete support lifecycle, from request to resolution</h3>
        <p>Helpy support discussions can be assigned to members of your team, and tracked by status throughout their life.</p>
        <hr/>
        <h3>Helpy "gets" email, literally.</h3>
        <p>The helpdesk connects to your incoming support email addresses, and gives you and your team an organized tool for managing all of your customer communications in one place.</p>
        <hr/>
        <h3>Accessible from anywhere</h3>
        <p>Helpy is a mobile first tool- designed to work across mobile and desktop devices today, and in the future.</p>
        <hr/>
        <h3>Google Analytics is "Baked In"</h3>
        <p>Rather than rely on an internal reporting system, Helpy is full integrated with Google Analytics. Track and view reports on how many tickets are coming in,
          as well as the productivity of your agents.</p>

      </div>

      <div class="col-md-8 col-sm-8">
        <div class="browser-window hidden-xs">
          <div class="top-bar">
            <div class="circles text-left">
               <div class="circle circle-red"></div>
               <div class="circle circle-yellow"></div>
               <div class="circle circle-green"></div>
            </div>
          </div>
          <div class="content">
            <img src="/images/admin-discussion.png" width="100%">
          </div>
        </div>
      </div>
    </div> <!-- row -->
  </div> <!-- container -->
</div> <!-- jumbo -->
<div id="more-features" class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h2>Support ticketing keeps your team synced and delivering a wonderful customer experience</h2>
    </div>
  </div>
  <div class="row feature-row">
    <div class="middle col-md-6">
      <h4>Tools to manage the complete customer support journey, from request to resolution</h4>
      <p>Helpy support discussions can be assigned to members of your team, and tracked by status throughout their life. You'll never miss a message that is waiting
        for a reply, as Helpy track that as well, until you mark the thread resolved.
      </p>
    </div>
    <div class="middle text-center col-md-6">
      <img src="/images/pipeline.png" width="100%">
    </div>
  </div>

  <div class="row feature-row">
    <div class="device-container middle text-center col-md-6">
      <div class="ios-device ios-device--large iphone-6--large">
        <div class="ios-device__screen">
          <img src="/images/mobile/admin-tickets-assign.png" width="100%">
        </div>
      </div>
    </div>
    <div class="middle col-md-6">
      <h4>Helpy "gets" email, literally. You stay organized and your customers interact with you via email, just like they always do!</h4>
      <p>Helpy connects to your incoming support email addresses, and gives you and your team an organized tool for managing all of your customer communications in one place.</p>
      <p>Helpy works with most modern email service providers, although we recommend SendGrid.</p>
    </div>
  </div>

  <div class="row feature-row">
    <div class="middle col-md-6">
      <h4>Manage your support staff and see reports on everything via Google Analytics, even in "Real time."</h4>
      <p>Rather than rely on an internal reporting system, Helpy is full integrated with Google Analytics. Track and view reports on how many tickets are coming in,
        what the productivity of your agents is, and more.  Download or contribute custom dashboards via the GA exchange on our support site.</p>
    </div>
    <div class="middle text-center col-md-6">
      [image]
    </div>
  </div>


</div>

{% include demo.html %}

{% include features.html %}
