---
layout: page
title: Open source support ticketing helpdesk system
permalink: /features/tickets/
---


<div id="main-panel" class="jumbotron sub">
  <div class="container">
    <div class="row text-center">
      <h1>All your customer communications in one place, accessible from anywhere</h1>
    </div>
    <div class="row">

      <div class="col-md-6 col-sm-6 col-lg-4">
        <div id="devices">
        	<div id="device" class="iphone black">
        		<div id="devicetop" class="iphone-speaker">
        		</div>
        		<div id="screen" class="iphone-screen">
              <img src="/images/mobile/admin-tickets-assign.png" height="100%">
        		</div>
        		<div id="button">
        		</div></a>
        	</div>
        </div>
      </div>

      <div class="col-md-6 col-sm-6 col-lg-8">
        <h2>Support ticketing keeps your team synced and delivering a wonderful customer experience</h2>

        <h3>Manage the complete support lifecycle, from request to resolution</h3>
        <p>Helpy support discussions can be assigned to members of your team, and tracked by status throughout their life.</p>
        <h3>Helpy "gets" email, literally.</h3>
        <p>Helpy connects to your incoming support email addresses, and gives you and your team an organized tool for managing all of your customer communications in one place.</p>
        <h3>Google Analytics is "Baked In"</h3>
        <p>Rather than rely on an internal reporting system, Helpy is fully integrated with Google Analytics. Track and view reports on how many tickets are coming in,
          as well as the productivity of your agents.</p>
      </div>

    </div> <!-- row -->
  </div> <!-- container -->
</div> <!-- jumbo -->
<!--<div id="more-features" class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h2>Support ticketing keeps your team synced and delivering a wonderful customer experience</h2>
    </div>
  </div>
  <div class="row feature-row">
    <div class="col-md-6">
      <h4>Tools to manage the complete customer support lifecycle, from request to resolution</h4>
      <p>Helpy support discussions can be assigned to members of your team, and tracked by status throughout their life. You'll never miss a message that is waiting
        for a reply, as Helpy track that as well, until you mark the thread resolved.
      </p>
    </div>
    <div class="col-md-6">
      <img src="/images/pipeline.png" width="100%">
    </div>
  </div>

  <div class="row feature-row">
    <div class="col-md-6">
      [image]
    </div>
    <div class="col-md-6">
      <h4>Helpy "gets" email, literally. You stay organized and your customers interact with you via email, just like they always do!</h4>
      <p>Helpy connects to your incoming support email addresses, and gives you and your team an organized tool for managing all of your customer communications in one place.</p>
      <p>Helpy works with most modern email service providers, although we recommend SendGrid.</p>
    </div>
  </div>

  <div class="row feature-row">
    <div class="col-md-6">
      <h4>Manage your support staff and see reports on everything via Google Analytics, even in "Real time."</h4>
      <p>Rather than rely on an internal reporting system, Helpy is full integrated with Google Analytics. Track and view reports on how many tickets are coming in,
        what the productivity of your agents is, and more.  Download or contribute custom dashboards via the GA exchange on our support site.</p>
    </div>
    <div class="col-md-6">
      [image]
    </div>
  </div>


</div>-->

{% include demo.html %}
<div id="more-features" class="jumbotron">

  <div  class="container">

    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="browser-window hidden-xs">
          <div class="top-bar">
            <div class="circles text-left">
               <div class="circle circle-red"></div>
               <div class="circle circle-yellow"></div>
               <div class="circle circle-green"></div>
            </div>
          </div>
          <div class="content">
            <img src="/images/admin-main.png" width="100%">
          </div>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>


    <div class="row">

      <div class="col-md-12 text-center">
        <h2>More Support Help Ticketing Features</h2>
      </div>
    </div>

    <div class="wow fadeIn row">






      <div class="col-md-6 feature-focus">
        <h4>Keep everything in one place with integrated email</h4>
        <p>Track all of your help emails and tickets in one place with Helpy integrated email.  As messages arrive at your support address
          they appear in the Helpy dashboard and can be assigned to agents.  Reply through the Helpy interface and an email is sent to the original requester.</p>
          <ul>
            <li>Tracks tickets from new to resolved.</li>
            <li>Access common replies to quickly respond to common issues.</li>
            <li>One click conversion of ticket responses to knowledgebase articles!</li>
          </ul>

      </div>

      <div class="col-md-6 feature-focus">
        <h4>Support Lifecycle Tools</h4>
        <p>Helpy gives you full lifecycle tools to manage and reply to all incoming support requests. When a new message comes in,
          assign it to one of your agents for follow up or reply and close it immediately.  Helpy keeps track of the status of the
            ticket and keeps you organized!</p>
          </thead></p>
          <ul>
            <li>Track support lifecycle with the integrated dashboard.</li>
            <li>Assign and notate tickets with internal only messages.</li>
            <li>Mass update, assign and perform other actions on groups of tickets.</li>
          </ul>
      </div>


      <div class="col-md-6 feature-focus">
        <h4>Get a 360 degree view of your customers</h4>
        <p>Every discussion you view includes information about the creator, including other recent threads.  Clicking on the users name or searching
          for them takes you to a detailed view with the users complete support history and additional details.<p>
          <ul>
            <li>View the users complete history in one place.</li>
            <li>Access the cutomer's contact info and social media details.</li>
            <li>Open a new ticket on behalf of the user if they call in.</li>
          </ul>

      </div>

      <div class="col-md-6 feature-focus">
        <h4>Common Replies make your life Easier</h4>
        <p>Do you find yourself answering the same questions over and over again?  Capture these replies and convert them into knowledgebase
          articles or hidden common replies that you can then send out again and again.</p>
          <ul>
            <li>Capture ticket replies and convert them into common replies.</li>
            <li>Translate your common replies into other languages.</li>
            <li>Respond to common questions in a single click.</li>
          </ul>
      </div>

    </div>

  </div>
</div>

{% include getit.html %}
{% include features.html %}
