  <div id="demo-bar" class="jumbotron">
    <div class="container">

      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-6 text-center">
          <h1>DEMO</h1>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
          <p>See a demo of the admin: <a href="http://demo.helpy.io/admin" target="_blank" class="demo-link">demo.helpy.io</a>
          <p>Admin Login: admin@test.com</p>
          <p>Admin Password: 12345678</p>
          <p>Check out our support site at: <a href="http://support.helpy.io">http://support.helpy.io/</a>
        </div>

      </div>
    </div>
  </div>
