<div id="more-features" class="container features">
  <div class="row">
    <div class="col-md-12 text-center">
      <h2>More Reasons to Put Helpy to Work for You</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-sm-6 more-features">
      <h4>Google Analytics Baked In</h4>
      <p>Other tools give you a reporting system.  Helpy is fully integrated with GA, the tool you would rather get your data from, right?</p>
    </div>
    <div class="col-md-4 col-sm-6 more-features">
      <h4>Make it Your Own</h4>
      <p>Helpy is open source software, ready for you to just use, or customize and extend as far as you want to take it. Run it, hack it, use it!</p>
    </div>
    <div class="col-md-4 col-sm-6 more-features">
      <h4>Pay Nothing</h4>
      <p>No monthly fees, no per agent seat costs, and not even a hosting bill if you stay under 1000 tickets per month (our best guess, YMMV)</p>
    </div>
    <div class="col-md-4 col-sm-6 more-features">
      <h4>Integrated Full Text Search</h4>
      <p>Out of the box, Helpy is preconfigured to use Postgres full text search, helping users solve their problems before contacting you.</p>
    </div>
    <div class="col-md-4 col-sm-6 more-features">
      <h4>Works on any Device</h4>
      <p>You and your agents aim to provide support from anywhere. Helpy will help you by working on any device- mobile, tablet or desktop.</p>
    </div>
    <div class="col-md-4 col-sm-6 more-features">
      <h4>Speaks your Language</h4>
      <p>Helpy comes with front-end translation packs for German, French, Spanish and Russian.  It is easy to add your own internationalization.</p>
    </div>
    <div class="col-md-4 col-sm-6 more-features">
      <h4>Built for the Cloud</h4>
      <p>Helpy was built with hosting on cloud providers in mind. Getting an instance live on Heroku should take less than 5 minutes.</p>
    </div>
    <div class="col-md-4 col-sm-6 more-features">
      <h4>Modern Open Source Tech on board</h4>
      <p>Helpy leverages many of the newest and shiniest open source projects, including Ruby on Rails 4.2, Bootstrap 3.2 and more!</p>
    </div>
  </div>
</div>
