<div id="footer-bar" class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-12-md">
        <ul id="top-nav" class="list-inline">

          <li><a href="/index.html#tickets" class="autoscroll" data-target="#ticket-panel">Help Tickets</a></li>
          <li><a href="/index.html#community" class="autoscroll" data-target="#community-panel">Community</a></li>
          <li><a href="/index.html#knowledgebase" class="autoscroll" data-target="#kb-panel">Knowledgebase</a></li>
          <li><a href="/blog/">Blog</a></li>
          <li><a href="#demo" class="autoscroll" data-target="#demo-bar" class="demo-link">Demo</a></li>
          <li><a href="/store/">App Store</a></li>

        </ul>
      Copyright 2015, Scott Miller.  Helpy was created to help startups provide great customer support, at a fraction of the cost of commercial support packages.
      </div>
    </div>
  </div>
</div>
