<div id="footer-bar" class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-12-md">
        <ul id="top-nav" class="list-inline">
          <li><a href="/features/tickets/">Help Tickets</a></li>
          <li><a href="/features/community/">Community</a></li>
          <li><a href="/features/knowledgebase/">Knowledgebase</a></li>
          <li><a href="/blog/">Blog</a></li>
          <li><a href="#demo" class="autoscroll" data-target="#demo-bar" class="demo-link">Demo</a></li>
          <li><a href="/store/">App Store</a></li>
        </ul>
      Copyright 2015, Scott Miller.  Helpy was created to help startups provide great customer support, at a fraction of the cost of commercial support packages.
      </div>
    </div>
    <div class="row">
      <div class="col-12-md text-center">
        <iframe src="https://ghbtns.com/github-btn.html?user=scott&repo=helpy&type=star&count=true&size=large" frameborder="0" scrolling="0" width="160px" height="30px"></iframe>
      </div>
    </div>
  </div>
</div>
