<div id="footer-bar" class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-12-md">
      Copyright 2015, Scott Miller.  Helpy was created to help startups provide great customer support, at a fraction of the cost of commercial support packages.
      </div>
    </div>
  </div>
</div>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="app/components/bootstrap/dist/js/bootstrap.min.js"></script>
