<div id="getit-bar" class="jumbotron">
  <div class="container">


    <div id="how-to-get-it" class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h2>Get Helpy Now!</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">
          <p>Helpy is open source software, and is made available on Github.  Feel free to grab a copy, install and play with it.  </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">
          <h2 class"wow pulse" data-wow-duration="1s" data-wow-delay=".5s"><a href="http://github.com/scott/helpy/" target="_blank">http://github.com/scott/helpy/</a></h2>
        </div>
      </div>
    </div>


  </div>
</div>
