<nav id="top-bar" class="jumbotron navbar navbar-default navbar-fixed-top">
  <div id="top-nav" class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand logo" href="/index.html"><img src="/images/logo.png" width="50px" class="brand-mark pull-left">Helpy</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" >
      <ul class="nav navbar-nav navbar-right">

        <!--<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">How it Works <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/customers/">For Customers</a></li>
            <li><a href="/team/">For Your Team</a></li>
          </ul>
        </li>-->
        <!--<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Features <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">-->
            <li><a href="/features/tickets">Private Discussions (ie, tickets)</a></li>
            <li><a href="/features/community">Support Community</a></li>
            <li><a href="/features/knowledgebase">Knowledgebase</a></li>
          <!--</ul>
        </li>-->
        <li><a href="#">Blog</a></li>
        <li><a href="#demo" class="autoscroll" data-target="#demo-bar">Demo</a></li>
        <li><button type="button" class="btn btn-warning navbar-btn">Get It</button></li>
      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
