<div class="text-center social-icon-bar">
  <ul class="list-inline">
    <li><a href="https://github.com/scott/helpy" target="_blank"><img src="/images/icons/github-with-circle.svg" alt="Github" class="social-icon"></a></li>
    <li><a href="https://www.linkedin.com/grp/home?gid=7001784" target="_blank"><img src="/images/icons/linkedin-with-circle.svg" alt="linkedin" class="social-icon"></a></li>
    <li><a href="https://twitter.com/helpyapp" target="_blank"><img src="/images/icons/twitter-with-circle.svg" alt="Twitter" class="social-icon"></a></li>
  </ul>
</div>
